div#main
<div>
    <img src="https://www.pngjoy.com/pngl/263/5050231_admin-admin-png-hd-png-download.png" alt="">
    <h1>Admin</h1>
    <h4>admin@gmail.com</h4>
</div>

<mat-divider></mat-divider>

<div class="pages">
    <h3>Pages</h3>
    <a routerLink="">Dashboard</a>
    <a routerLink="gallery">Gallery</a>
    <a routerLink="employees">Employees</a>
</div>

<mat-divider></mat-divider>

<div class="pages">
    <h3>Tools</h3>
    <a routerLink="add-employee">Add Employee</a>
    <a routerLink="lead-employee">Lead</a>
</div>

<!-- <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list> -->
  
