<!-- <button mat-raised-button color="primary">Primary</button> -->

<!-- header -->
<header>
  <app-header></app-header>
</header>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <!-- side-bar -->
    <app-side-bar></app-side-bar>
  </mat-drawer>

  <mat-drawer-content>
    <!-- main-content -->
    <!-- <app-main-content></app-main-content> -->
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>






<mat-divider></mat-divider>
<!-- footer -->
<footer>
  <app-footer></app-footer>
</footer>

<!-- 55:40 -->

    


